In [57]:
import pandas as pd
import geopandas as gpd
import folium
import os
import sqlite3
import matplotlib.pylab as plt
from scipy import stats
import numpy as np
import haversine as hs
from haversine import Unit
%config Completer.use_jedi = False #for auto complete code

In [65]:
maestro=pd.read_excel('../data/Maestro/maestro.xlsx')

In [66]:
area_estudio=pd.read_csv('../data/Area_estudio/gauges.csv',sep=';')

In [67]:
area_estudio.head()

          x         y Estaciones
0 -80.16944 -5.101667    gauge 1
1 -78.48480 -7.166611    gauge 2
2 -76.32194 -6.593056    gauge 3
3 -78.33889 -7.203333    gauge 4
4 -78.23722 -7.220278    gauge 5

In [77]:
maestro.head()

,GEOREFERENCIA,INVENTARIO_SINCERADO,DZ,NOMBRE_ESTACION,CODIGO,CATEGORIA,CLASIFICACION,TIPO,COMUNICACION,FECHA_DE_INSTALACION,ESTADO_FUNCIONAMIENTO,ESTADO_OPERATIVIDAD,COMPLEMENTARIO,LATITUD,LONGITUD,Lat_Sexagesimal,Lot_Sexagesimal,ALTITUD,DEPARTAMENTO,PROVINCIA
0,CORREGIDA,NO,1,ALAMOR,104044,CONVENCIONAL,PLU,METEOROLÓGICA,PLANILLA,01/12/97,FUNCIONANDO,OPERATIVO,NaN,-4.477490,-80.397895,"-4°28'38.96""","-80°23'52.42""",124.0,PIURA,SULLANA
1,CORREGIDA,NO,1,ALAMOR,200322,CONVENCIONAL,HLM,HIDROLÓGICA,VOZ Y DATA,01/02/17,FUNCIONANDO,OPERATIVO,NaN,-4.474008,-80.399152,"-4°28'26.43""","-80°23'56.95""",127.0,PIURA,SULLANA
2,CORREGIDA,NO,1,ALAMOR,47E0D438,AUTOMATICA,EHA,HIDROLÓGICA,SATELITAL GOES,17/12/14,FUNCIONANDO,OPERATIVO,NaN,-4.477490,-80.397895,"-4°28'38.96""","-80°23'52.42""",116.0,PIURA,SULLANA
3,COINCIDE,NO,1,ALTO_DE_POCLUS,104097,CONVENCIONAL,CO,METEOROLÓGICA,VOZ Y DATA,01/06/08,FUNCIONANDO,OPERATIVO,NaN,-4.916900,-79.890470,"-4°55'0.84""","-79°53'25.69""",3080.0,PIURA,AYABACA
4,CORREGIDA,NO,1,AYABACA,104058,CONVENCIONAL,CP,METEOROLÓGICA,VOZ Y DATA,01/01/63,FUNCIONANDO,OPERATIVO,NaN,-4.637760,-79.710770,"-4°38'15.94""","-79°42'38.77""",2648.0,PIURA,AYABACA

In [70]:
maestro[['NOMBRE_ESTACION','LONGITUD','LATITUD']].head()

  NOMBRE_ESTACION   LONGITUD   LATITUD
0          ALAMOR -80.397895 -4.477490
1          ALAMOR -80.399152 -4.474008
2          ALAMOR -80.397895 -4.477490
3  ALTO_DE_POCLUS -79.890470 -4.916900
4         AYABACA -79.710770 -4.637760

In [71]:
name_idx=[]
min_distances=[]
for idx, rowg in area_estudio.iterrows():
    loc1=rowg.x,rowg.y
    #loc1=area_estudio.x[0],area_estudio.y[0]
    distance=[]
    for index,row in maestro.iterrows():
        loc2=(row.LONGITUD,row.LATITUD)
        distance.append(hs.haversine(loc1,loc2,unit=Unit.METERS))
      
    name_idx.append(distance.index(np.min(distance)))
    min_distances.append(np.min(distance))

In [78]:
area_estudio['Nombre']=maestro.loc[name_idx,'NOMBRE_ESTACION'].to_list()
area_estudio['ALTITUD']=maestro.loc[name_idx,'ALTITUD'].to_list()
area_estudio['DEPARTAMENTO']=maestro.loc[name_idx,'DEPARTAMENTO'].to_list()
area_estudio['PROVINCIA']=maestro.loc[name_idx,'PROVINCIA'].to_list()
area_estudio['TIPO']=maestro.loc[name_idx,'TIPO'].to_list()
area_estudio['CATEGORIA']=maestro.loc[name_idx,'CATEGORIA'].to_list()
area_estudio['CODIGO']=maestro.loc[name_idx,'CODIGO'].to_list()

In [80]:
area_estudio.to_csv('estaciones_estudio.csv',index=False)

In [85]:
area_estudio=pd.read_csv('../output/CV_parameters/parameters_feb.csv',sep=',')

In [86]:
name_idx=[]
min_distances=[]
for idx, rowg in area_estudio.iterrows():
    loc1=rowg.x,rowg.y
    #loc1=area_estudio.x[0],area_estudio.y[0]
    distance=[]
    for index,row in maestro.iterrows():
        loc2=(row.LONGITUD,row.LATITUD)
        distance.append(hs.haversine(loc1,loc2,unit=Unit.METERS))
      
    name_idx.append(distance.index(np.min(distance)))
    min_distances.append(np.min(distance))

In [87]:
area_estudio['Nombre']=maestro.loc[name_idx,'NOMBRE_ESTACION'].to_list()
area_estudio.to_csv('estaciones_cv.csv',index=False)

In [ ]:
area_estudio=pd.read_csv('../output/CV_parameters/parameters_feb.csv',sep=',')